[Unit]
Description=kms dev backend service

[Service]
WorkingDirectory=/var/www/kms/dev/ab-kms/
ExecStart=/usr/bin/mvn spring-boot:run  -Dspring-boot.run.arguments=--server.5000=5000 -Dspring-boot.run.jvmArguments="-Xms256m -Xmx256m"

User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
